.Navbar {
  position: fixed;
  padding: 16px;
  width: 100%;
  z-index: 5;
  background-color: rgba(256, 256, 256, 0.97);
}

.App {
  padding-top: 360px;
  padding-bottom: 360px;
  font-family: sans-serif;
  text-align: center;
  z-index: 3;
}

.About {
  background-color: #F8F9FA;
  padding-top: 80px;
  padding-bottom: 80px;
}

.Illustration {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 3;
}

.Feature {
  background-color: #F8F9FA;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 3;
}

.Team {
  padding-top: 80px;
  padding-bottom: 80px;
  /* background-color: grey; */
  z-index: 3;
}

.Contact {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: sans-serif;
  text-align: center;
  z-index: 3;
}

.Footer {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #e12729;
}

.Login {
  padding:300px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.number-feature{
background: linear-gradient(90deg, rgba(246,186,0,1) 2%, rgba(255,0,0,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 32px;
}

.bg-light {
  background-color: #e12729 !important;
  border-radius: 10px;
}

.navbar-nav li a {
  color: white !important;
}

.link:hover{
  text-decoration: none;
}